/* Colors */


:root {
    --neutral-color-black: #000000;
    --neutral-color-gray1: #484848;
    --neutral-color-gray2: #797979;
    --neutral-color-gray3: #A9A9A9;
    --neutral-color-gray4: #D9D9D9;

    --primary-color-100: #129575;
    --primary-color-80: #71B1A1;
    --primary-color-60: #AFD3CA;
    --primary-color-40: #DBEBE7;
    --primary-color-20: #F6FAF9;

    --secondary-color-100: #FF9C00;
    --secondary-color-80: #FFA61A;
    --secondary-color-60: #FFBAAD;
    --secondary-color-40: #FFCE80;
    --secondary-color-20: #FFE1B3;

    --warning-color: #eb0b16;
    --success-color: #31B057;

    /* fonts-sizes */

    --fs-900: 5rem;
    --fs-800: 3rem;
    --fs-700: 1.8rem;
    --fs-600: 1.5rem;
    --fs-500: 1.3rem;
    --fs-400: 1rem;
    --fs-300: 0.8rem;

    /* font-families */
    --ff-poppins: "Poppins", sans-serif;
    --ff-montserrat: "Montserrat", sans-serif;


}



/* font-families */



@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.8rem;
        --fs-500: 1.6rem;
        --fs-400: 1.2rem;
    }

}

@media (min-width: 45em) {
    :root {
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.4rem;

    }
}



*/
/* Boz sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/*  set up the body*/
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;

    overflow-x: hidden;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    -webkit-tap-highlight-color: transparent;


}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*Home Page*/

.container--homepage {
    display: flex;
    justify-content: center;
    background: linear-gradient(179.98deg, rgba(0, 0, 0, 0.4) 15.01%, #000000 99.99%), url("/images/HomePage-background.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: 100%;

}

.chef--icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
}

.title--homepage {
    text-align: center;
    font-family: var(--ff-poppins);
    color: var(--primary-color-20);
    font-size: var(--fs-700);
    padding-top: 1rem;
}

.chef--img {
    width: 90px;
    height: 90px;
}


.text--homepage {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 12rem;
    color: var(--primary-color-20);
}

.sub-title-homepage {
    font-family: var(--ff-poppins);
    font-weight: 800;
    font-size: var(--fs-800);
}

.text--homepage>h5 {
    font-family: var(--ff-poppins);
    font-size: var(--fs-600);

}

.btn--homepage {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.btn--start-cooking {
    background-color: var(--primary-color-100);
    color: var(--primary-color-20);
    font-family: var(--ff-montserrat);
    font-size: var(--fs-600);
    padding: 1rem 3rem;
    border-radius: 0.8rem;
    animation: pulse 2s infinite;
    transition: background-color 0.7s ease;


}


.btn--start-cooking:hover {
    background-color: var(--secondary-color-100);

}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


/*Search*/


.search--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5rem;
}

.search--title {
    text-align: center;
    font-family: var(--ff-poppins);
    font-size: var(--fs-600);
    color: var(--neutral-color-gray1);

}

.search-input {
    margin-top: 1.5rem;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-family: var(--ff-montserrat);
    background-color: var(--primary-color-20);
    color: var(--neutral-color-gray1);
    font-size: 16px;
    outline: none;
    width: 325px;
}


.search-input::placeholder {
    color: var(--neutral-color-gray2);
}

.search-input:focus {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(39, 199, 7, 0.575);

}

.container--search {
    display: flex;
    justify-content: center;
}

.search-container-btn {
    display: flex;
}

.btn--fullvegan {
    margin-top: 1rem;
    background-color: var(--primary-color-100);
    color: var(--primary-color-20);
    font-family: var(--ff-montserrat);
    font-size: var(--fs-400);
    padding: 1rem 2.2rem;
    border-radius: 0.8rem;
    border: none;
    transition: background-color 0.7s ease;


}


.btn--fullvegan:hover {
    background-color: var(--secondary-color-100);
}

.vegetarian-filter-btn {
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: var(--primary-color-100);
    color: var(--primary-color-20);
    font-family: var(--ff-montserrat);
    font-size: var(--fs-400);
    padding: 1rem 1rem;
    border-radius: 0.8rem;
    border: none;
    transition: background-color 0.7s ease;
}


.vegetarian-filter-btn:hover {

    background-color: var(--secondary-color-80);
}


/*Recipe Card*/

.recipe--return {
    margin-top: 0.5rem;
}

.return--btn {
    margin: 1rem;
    border: none;
    background-color: transparent;
    font-size: var(--fs-600);
    animation: pulse 1.5s infinite;
}


.container--card {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.card {

    position: relative;
    width: 150px;
    height: 180px;
    margin: 0.8rem;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.7s ease-in-out;

}

.img--recipe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
}

.title--recipe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-block: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    font-size: var(--fs-300);
    font-family: var(--ff-montserrat);

}



/* Recipe Details */



.recipe-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

}

body {
    overflow-x: hidden;
}

.card-details-img {
    border-radius: 0.8rem;
    width: 350px;
    height: 200px;
}

.card-details-title {
    font-family: var(--ff-poppins);
    font-size: var(--fs-600);
    color: var(--neutral-color-gray2);
    margin-top: 1rem;
    text-align: center;
}

.card--buttons {
    display: flex;
}

.ingredients--btn {
    display: flex;
    margin-top: 1rem;
    background-color: var(--primary-color-100);
    color: var(--primary-color-20);
    font-family: var(--ff-montserrat);
    font-size: var(--fs-400);
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    border: none;
}

.ingredients--btn:hover {
    background-color: var(--secondary-color-100);
}

.instructions--btn:hover {
    background-color: var(--secondary-color-100);
}

.instructions--btn {
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: var(--primary-color-100);
    color: var(--primary-color-20);
    font-family: var(--ff-montserrat);
    font-size: var(--fs-400);
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    border: none;
}

.recipe--info {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    font-size: var(--fs-400);
    font-family: var(--ff-montserrat);
    color: var(--neutral-color-gray2)
}



/*Ingredients*/

.ingredients--container>ul {
    list-style: none;
}

.ingredients>li::before {
    content: "•";
    color: var(--primary-color-100);
    display: inline-block;
    width: 1em;
    margin-left: -0.8em;
    font-size: 1.3rem;
}


.ingredients--container {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ingredients {
    font-family: var(--ff-poppins);
    font-size: var(--fs-400);
    color: var(--neutral-color-gray1);
    line-height: 2rem;
    text-transform: capitalize;
}

.selected {
    background-color: var(--secondary-color-100);

}

.vegetarian {
    background-color: var(--secondary-color-100);

}

/*Instructions*/

.instructions--container>ol {
    list-style: none;
    counter-reset: li;
}

.instructions>li::before {
    counter-increment: li;
    content: counter(li);
    color: var(--primary-color-100);
    display: inline-block;
    width: 1em;
}

.instructions--container {
    margin-top: 1rem;
    display: flex;
    margin-bottom: 2rem;
    text-align: left;
}

.instructions {
    font-family: var(--ff-poppins);
    font-size: var(--fs-400);
    color: var(--neutral-color-gray1);
    line-height: 2rem;
    margin-right: 1rem;
}

.instruction--singular {
    margin-top: 1rem;

}


/*Media Queries*/

@media (min-width: 35em) {
    .card {
        width: 250px;
        height: 250px;
    }

    .search-input {
        width: 370px;
    }

    .instructions--container {
        margin-inline: 2rem;
    }

    .ingredients--container {
        text-align: center;
    
    }.card-details-img {
        width: 500px;
        height: 350px;
    }

}

@media (min-width: 45em) {
    .card {
        width: 300px;
        height: 300px;

    }

}