/* Colors */


:root {
    --neutral-color-black: #000000;
    --neutral-color-gray1: #484848;
    --neutral-color-gray2: #797979;
    --neutral-color-gray3: #A9A9A9;
    --neutral-color-gray4: #D9D9D9;

    --primary-color-100: #129575;
    --primary-color-80: #71B1A1;
    --primary-color-60: #AFD3CA;
    --primary-color-40: #DBEBE7;
    --primary-color-20: #F6FAF9;

    --secondary-color-100: #FF9C00;
    --secondary-color-80: #FFA61A;
    --secondary-color-60: #FFBAAD;
    --secondary-color-40: #FFCE80;
    --secondary-color-20: #FFE1B3;

    --warning-color: #eb0b16;
    --success-color: #31B057;

    /* fonts-sizes */

    --fs-900: 5rem;
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1rem;
    --fs-400: 0.9rem;
    --fs-300: 0.7rem;

    /* font-families */
    --fs-poppins: "Poppins", sans-serif;
    --fs-montserrat: "Montserrat", sans-serif;


}



/* font-families */



@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }

}

@media (min-width: 45em) {
    :root {
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;

    }
}

/* ----------------- */
/* Reset
 */
/* ----------------- */

/*  https://piccalil.li/blog/a-modern-css-reset
 

*/
/* Boz sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/*  set up the body*/
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;

    overflow-x: hidden;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    -webkit-tap-highlight-color: transparent;


}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*Home Page*/

.container--homepage {
    display: flex;
    justify-content: center;
    background: linear-gradient(179.98deg, rgba(0, 0, 0, 0.4) 15.01%, #000000 99.99%), url("/images/HomePage-background.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: 100%;

}

.chef--icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 6rem;
}

.chef--icon>h4 {
    font-family: var(--fs-poppins);
    color: var(--primary-color-20);
    font-size: var(--fs-700);
    padding-top: 1rem;
}

.chef--img {
    width: 90px;
    height: 90px;
}


.text--homepage {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 15rem;
    color:var(--primary-color-20);
}

.text--homepage>h1 {
    font-family: var(--fs-poppins);
    font-weight: 800;
    font-size: var(--fs-800);
}

.text--homepage>h5 {
    font-family: var(--fs-poppins);
    font-size: var(--fs-600);

}

.btn--homepage {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.btn--start-cooking {
    background-color: var(--primary-color-100);
    color:var(--primary-color-20);
    font-family: var(--fs-montserrat);
    font-size: var(--fs-500);
    padding: 1rem 3rem;
    border-radius: 0.8rem;
    animation: pulse 2s infinite;
    transition: background-color 0.7s ease;


}


.btn--start-cooking:hover {
    background-color: var(--secondary-color-100);

}
 

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
